<script setup lang="ts">
import { ref, nextTick } from 'vue';

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue';
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue';

import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()

const products1: Product[] = [
    {
        id: 1,
        name: 'คุกกี้ ช็อกโกแลต',
        price: 135.00,
        type: 1
    },
    {
        id: 2,
        name: 'ชาเขียว',
        price: 235.00,
        type: 1
    },
    {
        id: 3,
        name: 'ชาไทย',
        price: 335.00,
        type: 1
    },
    {
        id: 4,
        name: 'นมสดเย็น',
        price: 435.00,
        type: 1
    },
    {
        id: 5,
        name: 'น้ำแดงโซดา',
        price: 535.00,
        type: 1
    },
    {
        id: 6,
        name: 'มอคค่า',
        price: 635.00,
        type: 1
    },
    {
        id: 7,
        name: 'ลาเต้',
        price: 735.00,
        type: 1
    },
    {
        id: 8,
        name: 'อเมริกาโน่',
        price: 835.00,
        type: 1
    },
    {
        id: 9,
        name: 'เอสเพซโซ่',
        price: 935.00,
        type: 1
    },
]
const products2: Product[] = [
    {
        id: 1,
        name: 'คุกกี้ ช็อกโกแลต',
        price: 135.00,
        type: 2
    },
    {
        id: 2,
        name: 'ชาเขียว',
        price: 235.00,
        type: 2
    },
]
const products3: Product[] = [
    {
        id: 1,
        name: 'คุกกี้ ช็อกโกแลต',
        price: 135.00,
        type: 3
    },
    {
        id: 2,
        name: 'ชาเขียว',
        price: 235.00,
        type: 3
    },
    {
        id: 3,
        name: 'ชาไทย',
        price: 335.00,
        type: 3
    }
]

const tab = ref(1)

const selected = (p: Product) => {
    console.log('ProductView: ' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })
}
const divReceiptItems = ref<HTMLElement | null>(null)

</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: blue;">
                <v-container style="padding: 0">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItems" style="height: 300; overflow: auto">
                                <v-sheet min-width="300" max-width="600" height="250" elevation="6">
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="60" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="150" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="60" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: red;">
                <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">น้ำ</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                    </v-window>>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>